.footnote-ref-1{
  top: 830px;
}

.footnote-ref-2{
  top: 1020px;
}

.footnote-ref-3{
  top: 2690px;
}

.footnote-ref-4{
  top: 3950px;
}

.footnote-ref-5{
  top: 5620px;
}

.footnote-ref-6{
  top: 6240px;
}

.footnote-ref-7{
  top: 6330px;
}

.footnote-ref-8{
  top: 7200px;
}

.footnote-ref-9{
  top: 7760px;
}
