/* to place your footnotes near where you cite them in the text */
/* change the number of pixels.*/

/* create as many footnote references as you use in your project*/

/* make the number of the footnote match with the associated*/
/* footnote in your project's text */

.footnote-ref-1{
  top: 1400px;
}

.footnote-ref-2{
  top: 1435px;
}

.footnote-ref-3{
  top: 1525px;
}

.footnote-ref-4{
  top: 2350px;
}

.footnote-ref-5{
  top: 2375px;
}

.footnote-ref-6{
  top: 2400px;
}

.footnote-ref-7{
  top: 2425px;
}

.footnote-ref-8{
  top: 3350px;
}

.footnote-ref-9{
  top: 3375px;
}

.footnote-ref-10{
  top: 3450px;
}

.footnote-ref-11{
  top: 3550px;
}

.footnote-ref-12{
  top: 4550px;
}

.footnote-ref-13{
  top: 4650px;
}

.footnote-ref-14{
  top: 5400px;
}

.footnote-ref-15{
  top: 5450px;
}

.footnote-ref-16{
  top: 5475px;
}

.footnote-ref-17{
  top: 5500px;
}

.footnote-ref-18{
  top: 6365px;
}

.footnote-ref-19{
  top: 6375px;
}

.footnote-ref-20{
  top: 6385px;
}

.footnote-ref-21{
  top: 6435px;
}

.footnote-ref-22{
  top: 6550px;
}

.footnote-ref-23{
  top: 6575px;
}

.footnote-ref-24{
  top: 6600px;
}

.footnote-ref-25{
  top: 7400px;
}

.footnote-ref-26{
  top: 7500px;
}

.footnote-ref-27{
  top: 7600px;
}

.footnote-ref-28{
  top: 7700px;
}

.footnote-ref-29{
  top: 7750px;
}

.footnote-ref-30{
  top: 7755px;
}

.footnote-ref-31{
  top: 7775px;
}

.footnote-ref-32{
  top: 7800px;
}

.footnote-ref-33{
  top: 7850px;
}
